@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&family=Kumbh+Sans:wght@900&display=swap');

$light-color: #eee;
// $light-color-raster: rgba(181, 238, 253, 0.2);
$dark-color: #333;
$primary-color: #88547b;
$font-stack: 'Open Sans', sans-serif;
