@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow: hidden;
}

body {
  font-family: $font-stack;
  line-height: 1.5;
  // color: $dark-color;
  // background-color: $light-color;
}
